$bg1      : white;
$bg2      : beige;
$bg3      : #fff4f1;
$bgFooter : #f8cf6e;

$color3   : #0d948899;
$linkColor: darkolivegreen;
$linkColorFooter: #3C3F27;
$mainFont : #484848;
$titleBg2 : #506d00;
$titleBg3 : #856202;