$primary-color   : #ffcf33;                  //#BCED36; // #3498db;
$primary-color-10: rgba(255, 207, 51, 0.1);
$primary-color-70: rgba(255, 207, 51, 0.7);


:root {
  --primary-color   : #{$primary-color};
  --primary-color-10: #{$primary-color-10};
  --primary-color-70: #{$primary-color-70};
}